[basic_conv_graph]
from_scratch=1
batch_size=50
save_after_iterations=300
train_for_iterations=20000000000
learning_rate=0.0002
validate_after=50
num_testing_samples=20000
reader_type=fixed_num_entries_reader_seeds_separate
summary_path=/home/hassanmahmood/Repos/SA2/summary
model_path=/home/hassanmahmood/Repos/SA2/model
test_out_path=/home/hassanmahmood/Repos/SA2/test
training_files_path=/home/hassanmahmood/Repos/SA2/tfrecords/
validation_files_path=/home/hassanmahmood/Repos/SA2/tfrecords/
test_files_path=/home/hassanmahmood/Repos/SA2/tfrecords/
model=basic_conv_graph
profiler_output_file_name=/home/hassanmahmood/Repos/SA2/profiler_output
max_vertices=2000
num_vertex_features=5
max_image_height=768
max_image_width=1366
max_words_len=30
num_batch=30
num_data_dims=3
image_channels=1
dim_vertex_x_position=1
dim_vertex_y_position=2
dim_vertex_width=3
dim_vertex_height=4
dim_num_vertices=0
samples_per_vertex=4
num_global_features=3
variable_scope=basic_conv_graph_alpha_1
